:root {
    --transparency: 0.6;
}

/* zizz.club */
.link_zizz {
    background: rgba(88, 101, 242, var(--transparency));
}
.link_zizz:hover {
    --transparency: 0.8;
}

/* Instagram */
.link_instagram {
    background: linear-gradient(65deg, rgba(253, 244, 151, var(--transparency)) 0%, rgba(253, 244, 151, var(--transparency)) 4%, rgba(253, 89, 73, var(--transparency)) 30%, rgba(214, 36, 159, var(--transparency)) 50%,rgba(40, 90, 235, var(--transparency)) 100%);
}
.link_instagram:hover {
    --transparency: 0.8;
}

/* YouTube */
.link_youtube {
    background: rgba(255, 0, 0, var(--transparency));
}
.link_youtube:hover {
    --transparency: 0.8;
}

/* X */
.link_x {
    background: rgba(0, 0, 0, var(--transparency));
}
.link_x:hover {
    --transparency: 0.8;
}

/* Twitch */
.link_twitch {
    background: rgba(145, 70, 255, var(--transparency));
}
.link_twitch:hover {
    --transparency: 0.8;
}

/* Github */
.link_github {
    background: rgba(24, 23, 23, var(--transparency));
}
.link_github:hover {
    --transparency: 0.8;
}

/* Steam */
.link_steam {
    background: rgba(0, 0, 0, var(--transparency));
}
.link_steam:hover {
    --transparency: 0.8;
}

/* MyAnimeList */
.link_myanimelist {
    background: rgba(46, 81, 162, var(--transparency));
    transition: --transparency 0.3s ease;
}
.link_myanimelist:hover {
    --transparency: 0.8;
}
